<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="tweet_box">
        <%= form_for(@tweet) do |f| %>
          <% if @tweet.errors.any? %>
            <div id="error_explanation">
              <h2><%= @tweet.errors.count %>件のエラーがあります。</h2>
              <ul>
                <% @tweet.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.text_field :content, class: 'form-control' %>
          <%= f.submit '更新', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>